---

import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Navigation from '../components/Navigation.astro';
import '../styles/global.css'
const pageTitle = "About Me";
const identity = {
  firstName: "Toni",
  country: "Sallent",
  occupation: "Pensionista",
  hobbies: ["Fotografia", "Música", "baseball"],
};

const skills = ["HTML", "CSS", "JavaScript", "VueJs", "Astro", "Writing Docs"];

const happy = true;
const finished = false;
const goal = 3;
const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<html lang="ca">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <style define:vars={{skillColor, fontWeight, textCase}}>
      h1 {
        color: purple;
        font-size: 4rem;
      }
      .skill {
        color: var(--skillColor);
        font-weight: var(--fontWeight);
        text-transform: var(--textCase);
      }
    </style>
    
  </head>
  <body>
    <Header />

    <h1>My Astro Site</h1>
    <h1>{pageTitle}</h1>
    <h2>... and my new Astro site!</h2>

    <p>
      I am working through Astro's introductory tutorial. This is the second
      page on my website, and it's the first one I built myself!
    </p>

    <p>
      This site will update as I complete more of the tutorial, so keep checking
      back and see how my journey is going!
    </p>

    <p>Unes quantes coses sobre mi:</p>
    <ul>
      <li>Em dic: {identity.firstName}</li>
      <li>Visc a {identity.country} i soc {identity.occupation}</li>
      {
        identity.hobbies.length >= 2 && (
          <li>
            Dues de les meves aficions son: {identity.hobbies[0]} i{" "}
            {identity.hobbies[1]}
          </li>
        )
      }
    </ul>
    <p>ELs meus coneixements van sobre:</p>
    <ul>
      {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>
    {happy && <p>M'agrada aprendre Astro!</p>}

    {finished && <p>He acabat aquest tutorial!</p>}

    {
      goal === 3 ? (
        <p>My goal is to finish in 3 days.</p>
      ) : (
        <p>My goal is not 3 days.</p>
      )
    }
    <Footer />
    <script>
        import "../scripts/menu.js";
      </script>
  </body>
</html>
